
body {
    background-color: #171717;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
}
.container
{
    text-decoration-color: snow;
}

.col-md-4{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    padding: 10px;
    background: transparent;
}

.col-md-8{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
}

}
.col-md-12 {
    margin: 0;
}


.thumbnail{
    border: 0px;
    padding: 0px;
}

h3 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.contact {
    align-content: center;
    padding: 25px;
   
}
.thumbnail {
    background: transparent;
}

.navbar-brand {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
