
.navbar-brand {
  position: absolute;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 50px;
}

.navbar-default {
  border-color: transparent;
  background-color: transparent;
}
.navbar-fixed-top {
   position: absolute!important;
}

.navbar {
  min-height: 60px;
  padding: 10px
}

.videoContainer 
{

  position: absolute;
  width: 100%;
  height: 100%;
  //padding: 0px;
  border-radius: 0px;

  background-attachment: scroll;
  overflow: hidden;
  align-content: center;

}
.btn-white {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
    align-content: center;

}
.videoContainer overlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 0%;
    align-content: center;
  }
  .overlay .btn {
      margin-bottom: 10px;
      align-content: center;
      position: absolute;
  }
  .btn
  .videoBackground{width: 100%;}
    .tooltip:hover .tooltiptext {
        visibility: visible;
        align-content: center;
        position: absolute;
    }

    #logo {
      height: 100px;
  }

    @keyframes fadeIn{
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
    @-moz-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
    @-webkit-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
    @-o-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
    @-ms-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    .fade-in {
      animation: fadeIn ease 5s;
      -webkit-animation: fadeIn ease 5s;
      -moz-animation: fadeIn ease 5s;
      -o-animation: fadeIn ease 5s;
      -ms-animation: fadeIn ease 5s;
    }